#upcoming-films {
  margin-top: 40px;
  margin-left: 50px;
  border-style: solid;
  width:400px
};

#upcoming-films-link {
  margin-left: 20%;
  border-style: solid
};

.film {
  margin-bottom: 15px;
};